/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-caa4kfslev] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.container-fluid[b-caa4kfslev] {
  background-color: black;
}
a[b-caa4kfslev] {
  color: #ffffff;
}

.btn-primary[b-caa4kfslev] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-caa4kfslev],
.nav-pills .show > .nav-link[b-caa4kfslev] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-caa4kfslev] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-caa4kfslev] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-caa4kfslev] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-caa4kfslev] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-caa4kfslev] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: black;
}
